<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto" />
    <link href="../public/style/main.css" rel="stylesheet" type="text/css" />
    <meta content="user scalable-no, width=device-width, initial scale=1" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="headerTop">
            <img class="ml-logo" src="../public/images/logo.svg" alt="Logo">


            <form action="home.html" class="barraBusqueda" method="post">

                <input class="buscar" type="text" name="Buscar aquí" id="" placeholder="Barra de busqueda">

                <button type="submit" value="buscar" class="bloque" title="Enviar">buscar
                </button>

            </form>


            <div>
                <i class="fab fa-cc-visa"></i>
                <a href="modoPago">colocar tarjeta de debito o credito</a>
            </div>
        </div>
        <nav class="headerBottom">

            <div class="posi">
                <a href="Ofertas">Ofertas</a>
                <a href="Tiendas Oficiales">Tiendas Oficiales</a>
                <a href="Vender">Vender</a>
                <a href="Ayuda">Ayuda</a>

            </div>

            <div class="menu">
                <div>
                    <i class="fas fa-user-circle" id="ico"></i>
                    <a href="./register.html">Crea tu cuenta</a>
                </div>

                <div>
                    <i class="fas fa-hand-pointer" id="ico"></i>
                    <a href="./login.html">Ingresá</a>
                </div>

                <div>
                    <i class="fas fa-cash-register" id="ico"></i>
                    <a href="Mis compras">Mis compras</a>
                </div>
            </div>


        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <img class="imagCentro" src="../public/images/img-home-banner.jpg" alt="imagCentro">
    <main>
        <h1 class="titulares">Basado en tu última visita</h2>

        <div class="ultimaVis">
            <div class="product">
                    <div class="imProd">
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                        <!--logo-->
                    </div>
                    <div class="detProd">
                        <div class="presDesc">
                            <p class="precio">$6.770</p>
                            <div>
                                <div class="item"><i class="fas fa-shopping-cart"></i></div>
                            </div>
                            <p class="desc">40% off</p>
                        </div>
                        <p class="dcrip-oculta">Cafetera Moulinex</p>

                    </div>
                </div>

                <div class="product">
                    <div class="imProd">
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="Imagen mcBook">
                    </div>
                    <div class="detProd">
                        <div class="presDesc">
                            <p class="precio">$230.000</p>
                            <div>
                                <div class="item"><i class="fas fa-shopping-cart"></i></div>
                            </div>
                            <p class="desc">20% off</p>
                        </div>
                        <p class="dcrip-oculta">MacBook Pro 2019</p>

                    </div>
                </div>


                <div class="product">
                    <div class="imProd">
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung"></p>
                        <div class="detProd">
                        </div>
                        <div class="presDesc">
                            <p class="precio">$70.500</p>
                            <div>
                                <div class="item"><i class="fas fa-shopping-cart"></i></div>
                            </div>
                            <p class="desc">10% off</p>
                        </div>
                        <p class="dcrip-oculta">Samsung Galaxy S10</p>

                    </div>
                </div>

                <div class="product">
                    <div class="imProd">
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="Imagen Tele"></p>
                    </div>
                    <div class="detProd">
                        <div class="presDesc">
                            <p class="precio">$23.200</p>
                            <div>
                                <div class="item"><i class="fas fa-shopping-cart"></i></div>
                            </div>
                            <p class="desc">5% off</p>
                        </div>
                        <p class="dcrip-oculta">SmartTv Samsung 43"</p>

                    </div>
                </div>
        </div>

            <h2 class="titulares">Sección de Ofertas</h3>



                <div class="ultimaVis">
                    <div class="product">
                        <div class="imProd">
                            <img src="../public/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                        </div>
                        <div class="detProd">
                            <div class="presDesc">
                                <p class="precio">$6.770</p>
                                <div>
                                    <div class="item"><i class="fas fa-shopping-cart"></i></div>
                                </div>
                                <p class="desc">40% off</p>
                            </div>
                            <p class="dcrip-oculta">Cafetera Moulinex</p>

                        </div>
                    </div>


                    <div class="product">
                        <div class="imProd">
                            <img class="imProd" src="../public/images/img-macbook-pro-2019.jpg" alt="Imagen mcBook">
                        </div>
                        <div class="detProd">
                            <div class="presDesc">
                                <p class="precio">$230.000</p>
                                <div>
                                    <div class="item"><i class="fas fa-shopping-cart"></i></div>
                                </div>
                                <p class="desc">20% off</p>
                            </div>
                            <p class="dcrip-oculta">MacBook Pro 2019</p>

                        </div>
                    </div>

                    <div class="product">
                        <div class="imProd">
                            <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung"></p>
                            <div class="detProd">
                            </div>
                            <div class="presDesc">
                                <p class="precio">$70.500</p>
                                <div>
                                    <div class="item"><i class="fas fa-shopping-cart"></i></div>
                                </div>
                                <p class="desc">10% off</p>
                            </div>
                            <p class="dcrip-oculta">Samsung Galaxy S10</p>

                        </div>
                    </div>

                    <div class="product">
                        <div class="imProd">
                            <img src="../public/images/img-tv-samsung-smart.jpg" alt="Imagen Tele"></p>
                        </div>
                        <div class="detProd">
                            <div class="presDesc">
                                <p class="precio">$23.200</p>
                                <div>
                                    <div class="item"><i class="fas fa-shopping-cart"></i></div>
                                </div>
                                <p class="desc">5% off</p>
                            </div>
                            <p class="dcrip-oculta">SmartTv Samsung 43"</p>

                        </div>
                    </div>
                </div>

    </main>
    <footer>

        <div class="footerBottom"><i class="fas fa-credit-card" style="color: #4674c3;"></i></div>

        <p>
            <b>Pagá con tarjeta o en efectivo</b>
        </p>

        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <div>
            <div class="footerBottom"><i class="fas fa-box style" style="color: #4674c3;"></i></div>
        </div>
        <p>
            <b>Envío gratis desde $ 2.500</b>
        </p>

        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <div class="footerBottom"><i class="fas fa-user-secret" style="color: #4674c3;"></i></div>
        <p>
            <b>Seguridad, de principio a fin</b>
        </p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <div class="footerBottom">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>


    </footer>
</body>

</html>